
/*
font-family: 'Acme', sans-serif;
font-family: 'Noto Sans HK', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/*
121F39
1E0A86
3A4A3A
*/

*{
      box-sizing: border-box;
}

body{
      margin:0;
      padding:0;
      font-size:medium;
}.logo_img{
      width: 100%;
      margin: 45px;
}